<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/estilos.css") }}">
</head>
    <form action = "{{ request.path }}" method = "post" class = "container">
        <br> 
        <br> 
        <label for="qweasd">Pedidos</label><br> 
        <select name="Pedidos">
          {% for Viaje in viajes %}
            <option value={{ Viaje.id }} >Origen: {{ Viaje.origen }} Destino: {{ Viaje.destino }}</option>
          {% endfor %}
        </select>
        <br> 
        <label for = "NMovil">Numero de movil</label><br>
        <input type = "text" name = "NMovil" placeholder = "Numero de movil" /><br> 
        <label for = "Demora">Demora</label><br>
        <input type = "text" name = "Demora" placeholder = "Demora" /><br> 
        <br>
          <input type = "submit" value = "Guardar" />
        <br><a href = "{{ url_for('inicio') }}"> Inicio </a>
    </form>
    
